<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>890375541276-br3ippv6p2mjj2h87cqgqqvvp436huhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890375541276-br3ippv6p2mjj2h87cqgqqvvp436huhe</string>
	<key>API_KEY</key>
	<string>AIzaSyDciy1so-QcU5Y_I-FT_zliGL-pVTjjAh8</string>
	<key>GCM_SENDER_ID</key>
	<string>890375541276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dsy13.itsmylife</string>
	<key>PROJECT_ID</key>
	<string>beautydarling-f6b5d</string>
	<key>STORAGE_BUCKET</key>
	<string>beautydarling-f6b5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:890375541276:ios:201a55738b6103f2</string>
	<key>DATABASE_URL</key>
	<string>https://beautydarling-f6b5d.firebaseio.com</string>
</dict>
</plist>